/* import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.cdnfonts.com/css/mogra");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700" );
@import url('https://fonts.googleapis.com/css2?family=Montaga&display=swap'); 


* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: rgb(255, 255, 255);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 20px;
  background: #97B093;
}

/* .logo {
  display: flex;
  align-items: center;
} */

.logo a {
  color: #fff;
  font-size: 28px;
  font-weight: 400;
  margin: 2rem 8rem 2rem 2rem;
  font-family: 'Mogra', sans-serif;
  text-decoration: none;
  /* letter-spacing: 1px; */
}

/* .search_box {
  display: flex;
  align-items: center;
}

.search_box input {
  padding: 9px;
  width: 250px;
  background: rgb(228, 228, 228);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.search_box i {
  padding: 0.66rem;
  cursor: pointer;
  color: #fff;
  background: #000;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
} */

.header-icons {
  display: flex;
  align-items: center;
}

.header-icons i {
	margin-right: 1rem;
	cursor: pointer;
	color: #fff;
	font-size: 20px;
	background-color: #97B093;
	padding: 8px;
	border-radius: 50%;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  

.header-icons .account {
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-icons .account img {
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 50%;
  margin-left: 10px;
  border: 1px solid gray;
}
.header-icons h5{
	color: black;
	font-family: "Playfair Display", serif;
}


.container {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: space-between;
}

.side-bar {
  width: 300px;
  height: 100%;
  padding: 30px 10px 10px 10px;
  border-right: 2px solid gray;
}

.wrapper {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  padding: 8px 15px;
  gap: 20px;
  color: black;
  font-family: "Playfair Display", serif;
  border-radius: 5px;
  margin: 0 0 20px 0;
  cursor: pointer;
}
.wrapper i{
	color: gray;
}
.wrapper:hover{
	background-color: #ecf1eb;
	/* border: 1px solid gray; */
}

.wrapper.active {
  background-color: #c1d2be;
  border: 1px solid gray;
}

.dashboard {
  background-color: orange;
  width: 100%;
  height: 100%;
  padding: 30px 20px 0px 40px;
}
	.wrapper1{
		background-color: yellow;
		padding: 2px;
		margin: 20px 0 0 0;
		display: fex;
	}
	.box{
		width: 200px;
		height: 100px;
		background-color: gray;
	}
